<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.darrenchow.updates"
        versionCode="15" 
        version   = "1.0.4">

    <!-- versionCode is optional and Android only -->

    <name>Darren Chow Updates</name>

    <description>
        Darren Chow Updates.
    </description>

    <author href="http://www.darrenchow.com" email="darren@buildcontent.com">
        Darren Chow
    </author>

	<!--access origin="http://www.darrenchow.com" subdomains="true" browserOnly="false" /> 
	<access origin="http://www.epressdistribution.com" subdomains="true" browserOnly="false" /--> 

	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	

</widget>